@import "../theme/variables";

.navbar{
    background-color: $bg-c1-light !important;
    .container{
        background-color: $bg-c1-dark !important;
        .navbar-toggler{
            background-color: $bg-c1-dark !important;
            .menu__bar{
                color: $text-c1-light !important;
            }
        }
        .collapse{
            .navbar-nav{
                .nav-item{
                    // border: 1px solid $bg-c1-light !important;
                    @include res-sm{
                        border-bottom: 1px solid $bg-c1-light !important;
                        
                    }
                    .nav-link{
              
                    }
                }
            }
        }
    }
}

.navigation{
    background-color: $bg-c1-light !important;
    .container{
        .nav_wrap{
            font-size: $text-2xl;
            font-weight: $text-light;
            line-height: 24.2px;
        }

    }
}